name: "Build and upload Prism Launcher Release"
on: workflow_dispatch

jobs:
  build-arm:
    name: Build and upload Prism Launcher for ${{ matrix.suite }} on arm64
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
#        suite:
#          - debian:bookworm-slim
#          - debian:trixie-slim
#          - debian:forky-slim
#          - ubuntu:jammy
#          - ubuntu:noble
#          - ubuntu:plucky
#          - ubuntu:questing
        suite: [debian:bookworm-slim]
    steps:
      - name: Checkout prismlauncher packaging
        run: git clone --branch debian/unstable https://salsa.debian.org/BenTheTechGuy/prismlauncher.git
      - name: Install git-buildpackage
        run: sudo apt-get install -y git-buildpackage
      - name: Extract original tarball from git
        run: cd prismlauncher && gbp export-orig
      - name: Build Debian package
        uses: jtdor/build-deb-action@v1
        with:
          docker-image: ${{ matrix.suite }}
          host-arch: arm64
          source-dir: prismlauncher