name: "Build and upload Prism Launcher Release"
on: workflow_run

jobs:
  build-x86:
    name: Build and upload Prism Launcher for ${{ matrix.suite }} on ${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
#        suite:
#          - debian:bookworm-slim
#          - debian:trixie-slim
#          - debian:forky-slim
#          - ubuntu:jammy
#          - ubuntu:noble
#          - ubuntu:plucky
#          - ubuntu:questing
#        arch: [i386, amd64, armhf, arm64]
        suite: [debian:bookworm-slim]
        arch: [amd64]
    steps:
      - name: Checkout prismlauncher packaging
        uses: actions/checkout@v6
        with:
          repository: https://salsa.debian.org/BenTheTechGuy/prismlauncher
          ref: debian/unstable
      - name: Build Debian package
        uses: jtdor/build-deb-action@v1
        with:
          docker-image: ${{ matrix.suite }}
          host-arch: ${{ matrix.arch }}
          source-dir: prismlauncher