name: "Build and upload Prism Launcher Release"
on: workflow_dispatch

jobs:
  build-debian-x86:
    name: Build for ${{ matrix.suite }} on amd64
    runs-on: ubuntu-latest
    strategy:
      matrix:
        suite:
          - bookworm
#          - trixie
# no forky yet, missing Adoptium repo
#          - forky
    steps:
      - name: Checkout prismlauncher packaging
        run: git clone --branch debian/unstable https://salsa.debian.org/BenTheTechGuy/prismlauncher.git
      - name: Cache package build directory
        uses: actions/cache@v4
        with:
          path: ./${{ matrix.suite }}-amd64
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-${{ matrix.suite }}-amd64
      - name: Install Debian tools
        run: sudo apt-get install -y devscripts git-buildpackage
      - name: Extract original tarball from git
        run: cd ./prismlauncher && gbp export-orig
      - name: Build Debian package
        uses: jtdor/build-deb-action@v1
        with:
          artifacts-dir: ./${{ matrix.suite }}-amd64
          before-build-hook: cd ./prismlauncher && dch -D ${{ matrix.suite }} --bpo ""
          buildpackage-opts: --build=binary
          docker-image: debian:${{ matrix.suite }}-slim
          extra-build-deps: temurin-17-jdk
          extra-repos: deb https://packages.adoptium.net/artifactory/deb ${{ matrix.suite }} main
          extra-repo-keys: |
            -----BEGIN PGP PUBLIC KEY BLOCK-----

            mQENBGGTvTQBCAC6ey144n7CG8foafF6mwgIBN1fIm1ILZDuGS4tMr0/XI8pgJnT
            QvsPxZWEvtSm7bEMObzEoZJcXwjBcJl1B0ui8k5kHMTI75gCmZPsoKLFWIEpuRBQ
            PBocusw80apDmLnNDQLVQvDFtEua5gaNa/fRw9YsmBoXBqvgrjFUIdGyWoQvH5+a
            9OYlWD9n5VV0gnVMb+aclwVzB/zJw3kHGSgzuMtlAHeQiah7Y8yomQn/UIX8yqDf
            +11sP3+c87YcjkRqImRTtmKEDcEtGPAIXC6SYA+uEEkbYE0Fy0chkvtnVWJ597fa
            Epai4rnICU8zoJ6X5z3v1aM2WerhX9oq9X8PABEBAAG0QEFkb3B0aXVtIEdQRyBL
            ZXkgKERFQi9SUE0gU2lnbmluZyBLZXkpIDx0ZW11cmluLWRldkBlY2xpcHNlLm9y
            Zz6JAVIEEwEIADwWIQQ7BNdTyQUNml00PzmEPEilZfjwSwUCYZO9NAIbAwULCQgH
            AgMiAgEGFQoJCAsCBBYCAwECHgcCF4AACgkQhDxIpWX48Et4AggAjjJzYWuKV3nG
            7ngInngl8G/m9JoHr7BmwgcQXYhdy5hVkMcUx5JLeXz2LMBUH/F2nD595hgjMabk
            kVib20X8lq9RsNbdfc2hBcWU6qyHKxsIqT4boI2/XDyEzzMyyZWWNGo/27Ci7Xmj
            pWu31nh0pDdPqdyWDIKojbVVnxlCRY8as8Sm+1ufi709KCi4MuwHNsUlCSwb/fju
            NKeHkrHbLcHKUUIEcmTSKRWrpMYBzm1HYOGBz4xPuELwUfUp71ehfoyBZlp6RDRf
            l5TYI1FmCyHuvjNhrJgWv7bOTcf8yObGY+TEUhzc4xQqCrF4ur9d3opvsuPBQsv+
            Klqi5KSZgrkBDQRhk700AQgAq14okly8cFrpYVenEQPiB75AUZfKRpMduiR6IxAj
            SKcH7aSoFZ9AubUEBVpZsyT5svxoEPe1i4TdbF+m9FGy42EcOlLa3ArLTj5H8FRl
            UdGZB9I5mk4GptOzPM+aHMMu92vW/ZwjuS8DvOiQSp+cUmG1EqOMJSM7e/4BM71z
            E+OKaVJCj79pEzhG3SK/IC/OlxxyETT66NSfYJd7Sw5R6Vr19am/uNU690W0CJ+q
            VQeFpmDMr7LnfdFRIh+lJe05+PvWXeidkGjox5cbG52wf8aRIR/FgkfcFvqRMN1f
            B+dVOWueloUeVAnzcUznOKmUEs7LP9ObJhYHHgup4IAU2wARAQABiQE2BBgBCAAg
            FiEEOwTXU8kFDZpdND85hDxIpWX48EsFAmGTvTQCGwwACgkQhDxIpWX48EvXHQf/
            Q0nZsGDXnZHiBoojeSdpkO7WBjMIP3w1GdLvRpPQrS8TfOPbZuoevzCNh38Y3gwF
            yelJspvzDQrBXhgkzAGlucYg8Y7KHa5Ebm7iDgMzc37L1hYSZTYCqwd7aowfgy34
            hOk3B67LffkJpIh738Oa9CtlwxQ9xcytmBmQ1fBBOwm/9IhAwHPQuydYIs4DxWbj
            0MGSP4fDntU7e4UjsHNmhudDcYol0FaqdHHIIB9C/G4CzetRwHFOn3b4JwXMU7YU
            6aJA3mXhi3hggMC3wkT2HHZ/TquuOdNc02fypWOCDOHz0alBBJNqoVUNFNqU3tfJ
            wI4qF/KKq9BfyfucAs0ykA==
            =szki
            -----END PGP PUBLIC KEY BLOCK-----
          setup-hook:
            apt-get update && apt-get install -y ca-certificates devscripts && sed -i s/openjdk-17-jdk/temurin-17-jdk/g prismlauncher/debian/control
          source-dir: prismlauncher
      - name: Import GPG key
        id: importkey
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Sign package
        run: sudo chmod -Rv 777 ./${{ matrix.suite }}-amd64 && debsign -k${{ steps.importkey.outputs.fingerprint }} ./${{ matrix.suite }}-amd64/*.changes
  build-debian-arm:
    name: Build for ${{ matrix.suite }} on arm64
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        suite:
          - bookworm
#          - trixie
# no forky yet, missing Adoptium repo
#          - forky
    steps:
      - name: Checkout prismlauncher packaging
        run: git clone --branch debian/unstable https://salsa.debian.org/BenTheTechGuy/prismlauncher.git
      - name: Cache package build directory
        uses: actions/cache@v4
        with:
          path: ./${{ matrix.suite }}-arm64
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-${{ matrix.suite }}-arm64
          enableCrossOsArchive: true
      - name: Install Debian tools
        run: sudo apt-get install -y devscripts git-buildpackage
      - name: Extract original tarball from git
        run: cd ./prismlauncher && gbp export-orig
      - name: Build Debian package
        uses: jtdor/build-deb-action@v1
        with:
          artifacts-dir: ./${{ matrix.suite }}-arm64
          before-build-hook: cd ./prismlauncher && dch -D ${{ matrix.suite }} --bpo ""
          buildpackage-opts: --build=binary
          docker-image: debian:${{ matrix.suite }}-slim
          extra-build-deps: temurin-17-jdk
          extra-repos: deb https://packages.adoptium.net/artifactory/deb ${{ matrix.suite }} main
          extra-repo-keys: |
            -----BEGIN PGP PUBLIC KEY BLOCK-----
            
            mQENBGGTvTQBCAC6ey144n7CG8foafF6mwgIBN1fIm1ILZDuGS4tMr0/XI8pgJnT
            QvsPxZWEvtSm7bEMObzEoZJcXwjBcJl1B0ui8k5kHMTI75gCmZPsoKLFWIEpuRBQ
            PBocusw80apDmLnNDQLVQvDFtEua5gaNa/fRw9YsmBoXBqvgrjFUIdGyWoQvH5+a
            9OYlWD9n5VV0gnVMb+aclwVzB/zJw3kHGSgzuMtlAHeQiah7Y8yomQn/UIX8yqDf
            +11sP3+c87YcjkRqImRTtmKEDcEtGPAIXC6SYA+uEEkbYE0Fy0chkvtnVWJ597fa
            Epai4rnICU8zoJ6X5z3v1aM2WerhX9oq9X8PABEBAAG0QEFkb3B0aXVtIEdQRyBL
            ZXkgKERFQi9SUE0gU2lnbmluZyBLZXkpIDx0ZW11cmluLWRldkBlY2xpcHNlLm9y
            Zz6JAVIEEwEIADwWIQQ7BNdTyQUNml00PzmEPEilZfjwSwUCYZO9NAIbAwULCQgH
            AgMiAgEGFQoJCAsCBBYCAwECHgcCF4AACgkQhDxIpWX48Et4AggAjjJzYWuKV3nG
            7ngInngl8G/m9JoHr7BmwgcQXYhdy5hVkMcUx5JLeXz2LMBUH/F2nD595hgjMabk
            kVib20X8lq9RsNbdfc2hBcWU6qyHKxsIqT4boI2/XDyEzzMyyZWWNGo/27Ci7Xmj
            pWu31nh0pDdPqdyWDIKojbVVnxlCRY8as8Sm+1ufi709KCi4MuwHNsUlCSwb/fju
            NKeHkrHbLcHKUUIEcmTSKRWrpMYBzm1HYOGBz4xPuELwUfUp71ehfoyBZlp6RDRf
            l5TYI1FmCyHuvjNhrJgWv7bOTcf8yObGY+TEUhzc4xQqCrF4ur9d3opvsuPBQsv+
            Klqi5KSZgrkBDQRhk700AQgAq14okly8cFrpYVenEQPiB75AUZfKRpMduiR6IxAj
            SKcH7aSoFZ9AubUEBVpZsyT5svxoEPe1i4TdbF+m9FGy42EcOlLa3ArLTj5H8FRl
            UdGZB9I5mk4GptOzPM+aHMMu92vW/ZwjuS8DvOiQSp+cUmG1EqOMJSM7e/4BM71z
            E+OKaVJCj79pEzhG3SK/IC/OlxxyETT66NSfYJd7Sw5R6Vr19am/uNU690W0CJ+q
            VQeFpmDMr7LnfdFRIh+lJe05+PvWXeidkGjox5cbG52wf8aRIR/FgkfcFvqRMN1f
            B+dVOWueloUeVAnzcUznOKmUEs7LP9ObJhYHHgup4IAU2wARAQABiQE2BBgBCAAg
            FiEEOwTXU8kFDZpdND85hDxIpWX48EsFAmGTvTQCGwwACgkQhDxIpWX48EvXHQf/
            Q0nZsGDXnZHiBoojeSdpkO7WBjMIP3w1GdLvRpPQrS8TfOPbZuoevzCNh38Y3gwF
            yelJspvzDQrBXhgkzAGlucYg8Y7KHa5Ebm7iDgMzc37L1hYSZTYCqwd7aowfgy34
            hOk3B67LffkJpIh738Oa9CtlwxQ9xcytmBmQ1fBBOwm/9IhAwHPQuydYIs4DxWbj
            0MGSP4fDntU7e4UjsHNmhudDcYol0FaqdHHIIB9C/G4CzetRwHFOn3b4JwXMU7YU
            6aJA3mXhi3hggMC3wkT2HHZ/TquuOdNc02fypWOCDOHz0alBBJNqoVUNFNqU3tfJ
            wI4qF/KKq9BfyfucAs0ykA==
            =szki
            -----END PGP PUBLIC KEY BLOCK-----
          host-arch: arm64
          setup-hook:
            apt-get update && apt-get install -y ca-certificates devscripts && sed -i s/openjdk-17-jdk/temurin-17-jdk/g prismlauncher/debian/control
          source-dir: prismlauncher
      - name: Import GPG key
        id: importkey
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Sign package
        run: sudo chmod -Rv 777 ./${{ matrix.suite }}-arm64 && debsign -k${{ steps.importkey.outputs.fingerprint }} ./${{ matrix.suite }}-arm64/*.changes
  commit:
    name: Upload packges to repository
    runs-on: ubuntu-latest
    needs: [build-debian-x86, build-debian-arm, build-ubuntu-x86, build-ubuntu-arm]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          ref: repo
          path: ./repo
      - name: Get bookworm packge for amd64 from cache
        uses: actions/cache@v4
        with:
          path: ./bookworm-amd64
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-bookworm-amd64
      - name: Get bookworm packge for arm64 from cache
        uses: actions/cache@v4
        with:
          path: ./bookworm-arm64
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-bookworm-arm64
          enableCrossOsArchive: true
#      - name: Get noble packge for amd64 from cache
#        uses: actions/cache@v4
#        with:
#          path: ./noble-amd64
#          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-noble-amd64
#      - name: Get noble packge for arm64 from cache
#        uses: actions/cache@v4
#        with:
#          path: ./noble-arm64
#          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-noble-arm64
#          enableCrossOsArchive: true
#      - name: Get plucky packge for amd64 from cache
#        uses: actions/cache@v4
#        with:
#          path: ./plucky-amd64
#          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-plucky-amd64
#      - name: Get plucky packge for arm64 from cache
#        uses: actions/cache@v4
#        with:
#          path: ./plucky-arm64
#          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-plucky-arm64
#          enableCrossOsArchive: true
#      - name: Get trixie packge for amd64 from cache
#        uses: actions/cache@v4
#        with:
#          path: ./trixie-amd64
#          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-trixie-amd64
#      - name: Get trixie packge for arm64 from cache
#        uses: actions/cache@v4
#        with:
#          path: ./trixie-arm64
#          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-trixie-arm64
#          enableCrossOsArchive: true
#      - name: Get questing packge for amd64 from cache
#        uses: actions/cache@v4
#        with:
#          path: ./questing-amd64
#          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-questing-amd64
#      - name: Get questing packge for arm64 from cache
#        uses: actions/cache@v4
#        with:
#          path: ./questing-arm64
#          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-questing-arm64
#          enableCrossOsArchive: true
#      - name: Get forky packge for amd64 from cache
#        uses: actions/cache@v4
#        with:
#          path: ./forky-amd64
#          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-forky-amd64
#      - name: Get forky packge for arm64 from cache
#        uses: actions/cache@v4
#        with:
#          path: ./forky-arm64
#          key: cache-${{ github.run_id }}-${{ github.run_attempt }}-forky-arm64
#          enableCrossOsArchive: true
      - name: Install reprepro
        run: sudo apt-get update && sudo apt-get -y install reprepro
      - name: Include packages in repo
#        run: for suite in bookworm noble plucky trixie questing forky; do for arch in amd64 arm64; do reprepro -Vb ./repo include "$suite" "./${suite}-${arch}/*.changes"; done; done
        run: for suite in bookworm; do for arch in amd64 arm64; do ls -la "./${suite}-${arch}"; reprepro -Vb ./repo include "$suite" "./${suite}-${arch}/*.changes"; done; done
      - name: Commit changes to repo
        uses: EndBug/add-and-commit@v9
        with:
          cwd: ./repo
          message: Upload new packages