name: "Build and upload Prism Launcher Release"
on: workflow_dispatch

jobs:
  build-debian:
    name: Build for ${{ matrix.suite }} on ${{ matrix.arch }}
    runs-on: ${{ (matrix.arch == 'armhf' || matrix.arch == 'arm64') && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      matrix:
        suite:
          - bookworm
#          - trixie
# no forky yet, missing Adoptium repo
#          - forky
#        arch: [i386 amd64 armhf arm64]
        arch: [arm64]
    steps:
      - name: Checkout prismlauncher packaging
        run: git clone --branch debian/unstable https://salsa.debian.org/BenTheTechGuy/prismlauncher.git
      - name: Install Debian tools
        run: sudo apt-get install -y devscripts git-buildpackage
      - name: Extract original tarball from git
        run: cd ./prismlauncher && gbp export-orig
      - name: Build Debian package
        uses: jtdor/build-deb-action@v1
        env:
          DEB_BUILD_OPTIONS: noautodbgsym
        with:
          before-build-hook: cd ./prismlauncher && dch -D ${{ matrix.suite }} --bpo ""
          buildpackage-opts: --build=binary
          docker-image: debian:${{ matrix.suite }}-slim
          extra-build-deps: temurin-17-jdk
          extra-repos: deb https://packages.adoptium.net/artifactory/deb ${{ matrix.suite }} main
          extra-repo-keys: |
            -----BEGIN PGP PUBLIC KEY BLOCK-----

            mQENBGGTvTQBCAC6ey144n7CG8foafF6mwgIBN1fIm1ILZDuGS4tMr0/XI8pgJnT
            QvsPxZWEvtSm7bEMObzEoZJcXwjBcJl1B0ui8k5kHMTI75gCmZPsoKLFWIEpuRBQ
            PBocusw80apDmLnNDQLVQvDFtEua5gaNa/fRw9YsmBoXBqvgrjFUIdGyWoQvH5+a
            9OYlWD9n5VV0gnVMb+aclwVzB/zJw3kHGSgzuMtlAHeQiah7Y8yomQn/UIX8yqDf
            +11sP3+c87YcjkRqImRTtmKEDcEtGPAIXC6SYA+uEEkbYE0Fy0chkvtnVWJ597fa
            Epai4rnICU8zoJ6X5z3v1aM2WerhX9oq9X8PABEBAAG0QEFkb3B0aXVtIEdQRyBL
            ZXkgKERFQi9SUE0gU2lnbmluZyBLZXkpIDx0ZW11cmluLWRldkBlY2xpcHNlLm9y
            Zz6JAVIEEwEIADwWIQQ7BNdTyQUNml00PzmEPEilZfjwSwUCYZO9NAIbAwULCQgH
            AgMiAgEGFQoJCAsCBBYCAwECHgcCF4AACgkQhDxIpWX48Et4AggAjjJzYWuKV3nG
            7ngInngl8G/m9JoHr7BmwgcQXYhdy5hVkMcUx5JLeXz2LMBUH/F2nD595hgjMabk
            kVib20X8lq9RsNbdfc2hBcWU6qyHKxsIqT4boI2/XDyEzzMyyZWWNGo/27Ci7Xmj
            pWu31nh0pDdPqdyWDIKojbVVnxlCRY8as8Sm+1ufi709KCi4MuwHNsUlCSwb/fju
            NKeHkrHbLcHKUUIEcmTSKRWrpMYBzm1HYOGBz4xPuELwUfUp71ehfoyBZlp6RDRf
            l5TYI1FmCyHuvjNhrJgWv7bOTcf8yObGY+TEUhzc4xQqCrF4ur9d3opvsuPBQsv+
            Klqi5KSZgrkBDQRhk700AQgAq14okly8cFrpYVenEQPiB75AUZfKRpMduiR6IxAj
            SKcH7aSoFZ9AubUEBVpZsyT5svxoEPe1i4TdbF+m9FGy42EcOlLa3ArLTj5H8FRl
            UdGZB9I5mk4GptOzPM+aHMMu92vW/ZwjuS8DvOiQSp+cUmG1EqOMJSM7e/4BM71z
            E+OKaVJCj79pEzhG3SK/IC/OlxxyETT66NSfYJd7Sw5R6Vr19am/uNU690W0CJ+q
            VQeFpmDMr7LnfdFRIh+lJe05+PvWXeidkGjox5cbG52wf8aRIR/FgkfcFvqRMN1f
            B+dVOWueloUeVAnzcUznOKmUEs7LP9ObJhYHHgup4IAU2wARAQABiQE2BBgBCAAg
            FiEEOwTXU8kFDZpdND85hDxIpWX48EsFAmGTvTQCGwwACgkQhDxIpWX48EvXHQf/
            Q0nZsGDXnZHiBoojeSdpkO7WBjMIP3w1GdLvRpPQrS8TfOPbZuoevzCNh38Y3gwF
            yelJspvzDQrBXhgkzAGlucYg8Y7KHa5Ebm7iDgMzc37L1hYSZTYCqwd7aowfgy34
            hOk3B67LffkJpIh738Oa9CtlwxQ9xcytmBmQ1fBBOwm/9IhAwHPQuydYIs4DxWbj
            0MGSP4fDntU7e4UjsHNmhudDcYol0FaqdHHIIB9C/G4CzetRwHFOn3b4JwXMU7YU
            6aJA3mXhi3hggMC3wkT2HHZ/TquuOdNc02fypWOCDOHz0alBBJNqoVUNFNqU3tfJ
            wI4qF/KKq9BfyfucAs0ykA==
            =szki
            -----END PGP PUBLIC KEY BLOCK-----
          host-arch: ${{ matrix.arch }}
          setup-hook:
            apt-get update && apt-get install -y ca-certificates devscripts && sed -i s/openjdk-17-jdk/temurin-17-jdk/g prismlauncher/debian/control
          source-dir: prismlauncher
      - name: Import GPG key
        id: importkey
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Sign package
        run: sudo chmod -Rv 777 ./debian && debsign -k${{ steps.importkey.outputs.fingerprint }} ./debian/artifacts/*.changes
      - name: Upload package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.suite }}-${{ matrix.arch }}
          path: ./debian/artifacts/*
          retention-days: 1
  build-ubuntu:
    name: Build for ${{ matrix.suite }} on ${{ matrix.arch }}
    runs-on: ${{ (matrix.arch == 'armhf' || matrix.arch == 'arm64') && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      matrix:
        suite:
          - noble
#          - plucky
#          - questing
#        arch: [i386 amd64 armhf arm64]
        arch: [arm64]
    steps:
      - name: Checkout prismlauncher packaging
        run: git clone --branch debian/unstable https://salsa.debian.org/BenTheTechGuy/prismlauncher.git
      - name: Install Debian tools
        run: sudo apt-get install -y devscripts git-buildpackage
      - name: Extract original tarball from git
        run: cd ./prismlauncher && gbp export-orig
      - name: Build Ubuntu package
        uses: jtdor/build-deb-action@v1
        env:
          DEB_BUILD_OPTIONS: noautodbgsym
        with:
          before-build-hook: apt-get update && apt-get install -y devscripts && cd ./prismlauncher && dch -D ${{ matrix.suite }} --local ~${{ matrix.suite }} ""
          buildpackage-opts: --build=binary
          docker-image: ubuntu:${{ matrix.suite }}
          host-arch: ${{ matrix.arch }}
          source-dir: prismlauncher
      - name: Import GPG key
        id: importkey
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Sign package
        run: sudo chmod -Rv 777 ./debian && debsign -k${{ steps.importkey.outputs.fingerprint }} ./debian/artifacts/*.changes
      - name: Upload package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.suite }}-${{ matrix.arch }}
          path: ./debian/artifacts/*
          retention-days: 1
  commit:
    name: Upload packges to repository
    runs-on: ubuntu-latest
    needs: [build-debian, build-ubuntu]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          ref: repo
          path: ./repo
      - name: Get built packages
        uses: actions/download-artifact@v5
      - name: Install reprepro
        run: sudo apt-get update && sudo apt-get -y install reprepro
      - name: Import GPG key
        id: importkey
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Include packages in repo
#        run: for suite in bookworm noble plucky trixie questing forky; do for arch in i386 amd64 armhf arm64; do reprepro -Vb ./repo include "$suite" "./${suite}-${arch}/"*.changes; done; done
        run: for suite in bookworm noble; do for arch in arm64; do reprepro -Vb ./repo include "$suite" "./${suite}-${arch}/"*.changes; done; done
      - name: Commit changes to repo
        uses: EndBug/add-and-commit@v9
        with:
          cwd: ./repo
          default_author: github_actions
          message: Upload new packages